---
layout: handbook-page-toc
title: "Software Engineer in Test Career Framework"
description: "These are the expected competencies of the Software Engineer in Test team members at GitLab."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Software Engineer in Test Career Framework

<%= partial("handbook/engineering/career-development/matrix/engineering/quality/_quality_career_matrix_nav.erb") %>

These are the expected competencies of the Software Engineer in Test team members at GitLab.

### Intermediate

* [Software Engineer in Test](/handbook/engineering/career-development/matrix/engineering/quality/software-engineer-in-test/intermediate/)

### Senior

* [Software Engineer in Test](/handbook/engineering/career-development/matrix/engineering/quality/software-engineer-in-test/senior/)

### Staff

* [Software Engineer in Test](/handbook/engineering/career-development/matrix/engineering/quality/software-engineer-in-test/staff/)
